//@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

main {
    width: 400px;
    form {
        width: 80%;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}
