{% extends 'base.html.twig' %}

{% block body %}
    {% if hello is defined %}
        <h1>{{hello}}</h1>
    {% endif %}

    {% if askSymptoms is defined %}
        <h2>{{ askSymptoms }}</h2>

        <ul>
            {% for symptom in symptoms %}
                <li>{{ symptom.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <input type="text" name="input">
        <button type="submit"></button>
    </form>
{% endblock %}
