{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{hello}}</h1>
    <form method="post">
        <input type="text" name="input">
        <button type="submit"></button>

    </form>
{% endblock %}
